<% layout('layout') %>

<div class="container mt-5">
  <h1 class="text-center"><% title %></h1>
  <% if (query) { %>
  <h3>Hasil pencarian untuk: "<%= query %>"</h3>

  <% if (results.length > 0) { %>
    <ul>
      <% results.forEach(function(item) { %>
        <li><%= item %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>Tidak ada produk ditemukan.</p>
  <% } %>
<% } %>

  <div class="row">
    <% products.forEach(product => { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= product.name %></h4>
            <p class="card-text"><%=product.description %></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>  
</div>

